.container {
  padding: var(--spacing-x3) var(--spacing-x4);
}

.container span {
  font-weight: bolder;
}

.paymentHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-x12);
}

.paymentHeaderContainer > div {
  width: 45%;
}

.bankAccountData {
  margin-top: var(--spacing-x8);
  margin-bottom: var(--spacing-x15);
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-x6);
}

.row > div {
  width: 45%;
}

.paymentMethodSkeleton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

@media screen and (max-width: 550px) {
  .container {
    padding: 0;
  }

  .paymentHeaderContainer {
    flex-direction: column;
    margin-bottom: var(--spacing-x5);
  }

  .paymentHeaderContainer > div {
    width: 100%;
    padding-bottom: var(--spacing-x5);
  }

  .paymentHeaderContainer > div:last-child {
    padding-bottom: 0;
  }

  .bankAccountData {
    margin-top: var(--spacing-x5);
    margin-bottom: var(--spacing-x5);
  }

  .row {
    flex-direction: column;
    margin: 0;
  }

  .row > div {
    width: 100%;
    padding-bottom: var(--spacing-x5);
  }
}
