.container {
  position: relative;
  height: 150px;
  width: 100%;
  border: var(--border-dashed);
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-x5);
  margin-bottom: var(--spacing-x3);
}

.uploadInput {
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
