.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container span {
  font-weight: bolder;
}

.simulationStepCard {
  padding: var(--spacing-x4) var(--spacing-x8);
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border-dashed);
}

.row {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-x5) var(--spacing-x5);
  gap: var(--spacing-x5);
}

.row div {
  width: 45%;
}
