.stepperContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--stepper-section-max-width);
}

.backButtonContainer {
  margin-bottom: var(--spacing-x8);
}

.titleContainer {
  margin-bottom: var(--spacing-x8);
}

.continueButtonContainer {
  text-align: right;
  margin-top: var(--spacing-x3);
}
