.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formControls {
  width: 450px;
}

.forgotPasswordLink {
  padding-left: var(--spacing-x3);
  margin-bottom: var(--spacing-x10);
}

.forgotPasswordLink {
  font-weight: bolder;
}

.buttonContainer {
  margin-top: var(--spacing-x15);
  margin-bottom: var(--spacing-x5);
}

@media screen and (max-width: 500px) {
  .formControls {
    width: 100%;
  }
}
