@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --root-font-size: 14px;
  font-size: var(--root-font-size);

  /* Main Colors */
  --background-color--primary: #ffffff;
  --background-color--secondary: #f0f0f0;
  --element-color--primary: #3bd4ae;
  --element-color--secondary: #979797;
  --text-color--primary: #585858;
  --text-color-contrast--primary: #1f1646;

  /* Text  */
  --text-color-title: #000000;
  --main-font-family: "Monserrat", sans-serif;
  --font-size--xsmall: 0.75rem;
  --font-size--small: 0.875rem;
  --font-size--medium: 1rem;
  --font-size--large: 1.25rem;
  --font-size--xlarge: 1.5rem;
  --font-weight--bold: 600;
  --font-weight--normal: 400;

  /* Spacing */
  --base-space: calc(1rem / 4);
  --spacing-x1: var(--base-space);
  --spacing-x2: calc(var(--base-space) * 2);
  --spacing-x3: calc(var(--base-space) * 3);
  --spacing-x4: calc(var(--base-space) * 4);
  --spacing-x5: calc(var(--base-space) * 5);
  --spacing-x6: calc(var(--base-space) * 6);
  --spacing-x7: calc(var(--base-space) * 7);
  --spacing-x8: calc(var(--base-space) * 8);
  --spacing-x9: calc(var(--base-space) * 9);
  --spacing-x10: calc(var(--base-space) * 10);
  --spacing-x11: calc(var(--base-space) * 11);
  --spacing-x12: calc(var(--base-space) * 12);
  --spacing-x14: calc(var(--base-space) * 14);
  --spacing-x15: calc(var(--base-space) * 15);
  --spacing-x16: calc(var(--base-space) * 16);
  --spacing-x20: calc(var(--base-space) * 20);
  --spacing-x25: calc(var(--base-space) * 25);
  --spacing-x30: calc(var(--base-space) * 24);
  --spacing-x35: calc(var(--base-space) * 35);
  --spacing-x40: calc(var(--base-space) * 40);
  --spacing-x64: calc(var(--base-space) * 44);

  /* Border  */
  --border-radius: 5px;
  --border-radius-large: 15px;
  --border-color: #585858;

  /*Basic Elements */

  --input-border: 1px solid var(--border-color);
  --button-border-radius: 25px;
}

@media screen and (max-width: 500px) {
  :root {
    --base-space: calc(1rem / 3);
  }
}
