.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x2);
  width: 100%;
}

.container input {
  height: var(--spacing-x11);
  border: var(--input-border);
  padding: var(--spacing-x3);
  border: 1xp solid gray;
  border-radius: var(--border-radius-medium);
  font-size: var(--font-size--medium);
  -webkit-appearance: none;
  appearance: none;
}

.container input:focus {
  outline: none;
  border: 1px solid var(--border-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
